<form action="{{=URL('store')}}" method="post">
	<h1>CHOCO CODETRAIN</h1>
	<div>
		<label for="firstname">First Name</label><br>
		<input type="text" name="firstname">
	</div>

	<div>
		<label for="lastname">Last Name</label><br>
		<input type="text" name="lastname">
	</div>

	<div>
		<label for="email">Email</label><br>
		<input type="email" name="email">
	</div>

	<div>
		<label for="password">Password</label><br>
		<input type="password" name="password">
	</div>
	
	<div>
		<label for="choco">ChocoMilo</label><br>
		<input type="text" name="choco" placeholder="How many ChocoMilo">
	</div>
		<input type="submit" value="Save User">
		
	</div>


</form>